@media (orientation: portrait) {
    
    section.title h1 {
        font-size: 4vh;
    }

    section.normal h1{
        font-size: 4vh;
    }

    section.normal p1{
        font-size: 2vh;
    }

    section.normal button{
        font-size: 2vh;
    }

    section.normal h2{
        font-size: 2vh;
    }

    section.skills h1{
        font-size: 4vh;
    }

    section.skills p1{
        font-size: 2vh;
    }

    section.skills button{
        font-size: 2vh;
    }

    section.skills h2{
        font-size: 2vh;
    }

    .column1{
        width: 55%;
        float:left;
        font-size: 2vh;
    }
    
    .column2{
        width: 45%;
        float:left;
        font-size: 2vh;
    }
    
    .skills ul{
        color: #30475e;
        list-style: none;
        padding-left: 1vh;
    }


    
}