@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;800&display=swap');


body {
    margin: 0 0 0 0;
    padding: 0;
    background-color: #dddddd;
    font-family: 'Yusei Magic', sans-serif;
}

.title span.name {
    color:#222831;
    text-shadow: 0px 0px 25px rgba(0, 0, 0, 0);
}
.title span.name:hover {
    color:#f05454;
}
.title {
    color: white;
    box-sizing: border-box;
    height: 75vh;
    width: 100%;
    background-color:darkgrey;

}
.title div {
    margin: 0 20% 0 10%;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    z-index: 3;
}

.title h1 {
    font-size: 6.5vh;
    margin: 3vh 0;
    
}

.title l{
    color: inherit;
    text-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
}
.title l:hover {
    color: #30475e;
}


.title button {
    font-size: 2vh;
    font-family: Inter;
    border: 2px solid black;
    background: #222831;
    color:white;
    padding: 1vh 2vh;
    cursor: pointer;
    margin: 0 2vh 2vh 0;
    outline: none;
    transition: 300ms;
    text-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    font-family: 'Yusei Magic', sans-serif;
}
.title button:hover {
    border: 2px solid #222831;
    background-color:#f05454;
    color: #222831;
}

.grad{
    background-image: linear-gradient(darkgrey,#dddddd);
    height: 25vh;
}

.normal{
    background-color:#dddddd;
    height: 90vh;
}

.normal div{
    margin: 0 20% 0 10%;
    margin-top: 10vh;
}

.normal div2{
    margin: 0% 0% 0% 0%;
    margin-top: 10vh;
}



.normal h1{
    color:#222831;
    font-size: 6.5vh;
    
}

.normal h2{
    color:#30475e;
    font-size: 4vh;
    margin-bottom: 0px;
}

.normal p{
    margin-top: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
    font-size: 1.5vh
}
.normal p1{
    font-size: 3vh;
    color: #f05454;
    margin-left:2vh;
}

.normal span.language {
    color: #30475e;
}

.normal span.language::after {
    font-family: Inter;
    content: " \2022"; /* • character unicode */
    color: #30475e;
}
.normal button{
    font-size: 3vh;
    font-family: Inter;
    border: 2px solid black;
    background: #222831;
    color:white;
    padding: 1vh 2vh;
    cursor: pointer;
    margin: 0 2vh 2vh 0;
    outline: none;
    transition: 300ms;
    text-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    font-family: 'Yusei Magic', sans-serif;
    margin-bottom: 0px;

}
.normal span.title {
    color: #f05454;
    transition: 300ms;
}

.normal button:hover span{
    color: white;
    transition: 300ms;
}

.normal button:hover {
    border: 2px solid#222831;
    background-color: #f05454;
    color: #222831;
}

.normal footer{
    margin-top: 10vh;
    background-color: #222831;
    color: #dddddd;
    padding-bottom: 1vh;
}

a:link, a:visited, a:active {
    color: #dddddd;
    transition: 100ms;
    text-decoration: none;
}
a:hover { 
    color: #f05454;
}
