@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');


body {
    margin: 0 0 0 0;
    padding: 0;
    color: var(--darkest);
    background-color: rgb(218, 218, 218);
}

section.title span.name {
    color:darkgreen;
    text-shadow: 0px 0px 25px rgba(0, 0, 0, 0);
}
section.title span.name:hover {
    color:rgb(255, 210, 97);
}
section.title {
    color: white;
    box-sizing: border-box;
    height: 75vh;
    width: 100%;
    background-color:darkgrey;

}
section.title div {
    margin: 0 20% 0 10%;
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
    z-index: 3;
}

section.title h1 {
    font-size: 6.5vh;
    margin: 3vh 0;
    
}

section.title l{
    color: inherit;
    text-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
}
section.title l:hover {
    color: rgb(4, 156, 118);
}


section.title button {
    font-size: 2vh;
    font-family: Inter;
    border: 2px solid black;
    background: rgb(122, 122, 122);
    color:white;
    padding: 1vh 2vh;
    cursor: pointer;
    margin: 0 2vh 2vh 0;
    outline: none;
    transition: 300ms;
    text-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
}
section.title button:hover {
    border: 2px solid rgb(0, 66, 0);
    background-color: darkgreen;
    color: var(--darkest);
}
hr {
    width: 30vw;
    height: 0.4vh;
    outline: none;
    border: none;
    background-color: darkgrey;
    border-radius: 0.1vw;
}

section.grad{
    background-image: linear-gradient(darkgrey,rgb(218, 218, 218));
    height: 25vh;
}

section.normal{
    background-color: rgb(218, 218, 218);
    height: 90vh;
}

section.normal div{
    text-align: center;
    margin-top: 10vh;
}
section.normal h1{
    color:rgb(122, 122, 122);
    font-size: 6.5vh;
    
}