@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;800&display=swap");
* {
    scroll-behavior: smooth;
}

body {
    margin: 0 0 0 0;
    padding: 0;
    background-color: #dddddd;
    font-family: "Yusei Magic", sans-serif;
}

.title span.name {
    color: #222831;
    text-shadow: 0px 0px 25px rgba(0, 0, 0, 0);
    transition: 500ms;
}

.title {
    color: white;
    box-sizing: border-box;
    height: 75vh;
    width: 100%;
    background-color: darkgrey;
}

.title div {
    margin: 0 20% 0 10%;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    z-index: 3;
}

.title h1 {
    font-size: 6.5vh;
    margin: 3vh 0;
}

.title l {
    color: inherit;
    text-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
    transition: 250ms;
}

button {
    font-size: 2vh;
    font-family: Inter;
    border: 2px solid black;
    background: #222831;
    color: white;
    padding: 1vh 2vh;
    cursor: pointer;
    margin: 0 2vh 2vh 0;
    outline: none;
    transition: 300ms;
    text-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    font-family: "Yusei Magic", sans-serif;
}

.grad {
    background-image: linear-gradient(darkgrey, #dddddd);
    height: 25vh;
}

.skills {
    background-color: #dddddd;
}

.skills div {
    margin: 0% 20% 0% 10%;
    margin-top: 10vh;
}

.skills h1 {
    color: #222831;
    font-size: 6.5vh;
    margin-bottom: 0px;
}

.skills h2 {
    color: #30475e;
    font-size: 4vh;
    margin-bottom: 0px;
}

.skills ul {
    color: #30475e;
    list-style: none;
}

.skills li::before {
    font-family: Inter;
    font-size: 2.5vh;
    content: "\2022";
    color: rgb(0, 185, 0);
}

.skills li.orange::before {
    font-family: Inter;
    font-size: 2.5vh;
    content: "\2022";
    color: orange;
}

.skills li.red::before {
    font-family: Inter;
    font-size: 2.5vh;
    content: "\2022";
    color: red;
}

.normal {
    background-color: #dddddd;
    height: 100%;
    width: 100%;
    display: flex;
    padding-top: 20px;
}

.footer {
    margin-top: 0vh;
    background-color: #222831;
    color: #dddddd;
    padding-bottom: 1vh;
}

.footer div {
    margin: 0% 20% 0% 10%;
    margin-top: 10vh;
    margin-right: 0px;
    margin-top: 0px;
}

.footer h2 {
    font-size: 4vh;
    margin-bottom: 0px;
    color: #dddddd;
    padding-top: 1vh;
}

.footer p {
    margin-top: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
    font-size: 1.5vh;
}

.footer ul {
    margin-top: 0px;
    margin-bottom: 0px;
}

a:link,
a:visited,
a:active {
    color: #dddddd;
    transition: 100ms;
    text-decoration: none;
}

#item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    margin: 0 auto;
    width: 300px;
    background: #00000000;
    transition-duration: 500ms;
}

#weather {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #dddddd 42.39%), url(./resources/weather.png);
    background-repeat: no-repeat;
    border-radius: 10px;
    transition-duration: 500ms;
}

#crypto {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #dddddd 42.39%), url(./resources/crypto.png);
    border-radius: 10px;
    background-repeat: no-repeat;
    transition-duration: 500ms;
}

#item h1 {
    margin-top: 230px;
    color: #222831;
    font-size: 40px;
    margin-bottom: -10px;
    transition-duration: 500ms;
}

#item button {
    border-radius: 20px;
}

@media (min-width: 630px) {
    #item:hover h1 {
        margin-top: 500px;
    }
    #item:hover {
        margin-top: -270px;
    }
    #weather:hover {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #dddddd 60%), url(./resources/weather.png);
        background-repeat: no-repeat;
    }
    #crypto:hover {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #dddddd 60%), url(./resources/crypto.png);
        background-repeat: no-repeat;
    }
    a:hover {
        color: #f05454;
        cursor: pointer;
    }
    #sourceCode:hover {
        color: #f05454;
        cursor: pointer;
    }
    button:hover {
        border: 2px solid #222831;
        background-color: #f05454;
        color: #222831;
    }
    .title span.name:hover {
        color: #f05454;
        transition: 500ms;
    }
    .title l:hover {
        color: #30475e;
        transition: 250ms;
    }
}

@media (max-width: 630px) {
    .normal {
        flex-direction: column;
    }
}